---
layout: default
---

{% assign book  = site.data.book %}

<!-- cover -->

<h1>{{ book.title }}</h1>
<h3>by {{ book.author.name }}</h3>


<!-- table of contents -->

<div class='toc'>

Contents

<ul>
  {% for chapter in book.contents %}
    <li>{{ chapter.title }}</li>
  {% endfor %}
</ul>

</div>


<!-- chapters -->

{% for chapter in book.contents %}
<div class="chapter">
  <h1>Chapter {{ chapter.num }} - {{ chapter.title }}</h1>

  <!-- note: for now assume content is in markdown (not HTML);
        use markdownify to (auto-)convert to HTML
    -->
  {% if chapter.content %}
    {{ chapter.content | markdownify }}
  {% endif %}
</div>
{% endfor %}
